@model Persona

<h1>
    Informacion Controlador --> Vista
</h1>
<h2>
    @Model.Nombre, @Model.Email, @Model.Edad
</h2>
<h2>
    Nombre: @ViewData["NOMBRE"]
</h2>
<h2>
    Edad: @ViewData["EDAD"]
</h2>
<h2>
    Dia Semana: @ViewBag.DiaSemana
</h2>